<section id="caseStudies">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Case Studies</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img src="{{site.url}}/img/clients/singingSuccess.png" class="img-responsive img-centered img-fluid" alt="Singing Success" title="Singing Success">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img src="{{site.url}}/img/clients/albrecht.png" class="img-responsive img-centered img-fluid" alt="Albrecht Painting" title="Albrecht Painting">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img src="{{site.url}}/img/clients/elCoyote.png" class="img-responsive img-centered img-fluid" alt="El Coyote" title="El Coyote">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img src="{{site.url}}/img/clients/tranquility.png" class="img-responsive img-centered img-fluid" alt="Tranquility" title="Tranquility">
        </a>
      </div>
    </div>
  </div>
</section>
