<section id="carouselPortfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Case Studies</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div id="main_area">
      <div class="row hidden-phone" id="slider-thumbs">
        <div class="col-lg-12">
          <!-- Bottom switcher of slider -->
          <ul class="thumbnails col-lg-12">
            <li class="span2">
              <a class="thumbnail" id="carousel-selector-0">
                <img src="{{site.url}}/img/clients/singingSuccess.png" class="img-responsive img-centered img-fluid" alt="Singing Success" title="Singing Success">
              </a>
            </li>
            <li class="span2">
              <a class="thumbnail" id="carousel-selector-1">
                <img src="{{site.url}}/img/clients/scienceHill.png" class="img-responsive img-centered img-fluid" alt="Science Hill Inn" title="Science Hill Inn">
              </a>
            </li>
            <li class="span2">
              <a class="thumbnail" id="carousel-selector-2">
                <img src="{{site.url}}/img/clients/tranquility.png" class="img-responsive img-centered img-fluid" alt="Tranquility" title="Tranquility">
              </a>
            </li>
            <li class="span2">
              <a class="thumbnail" id="carousel-selector-3">
                <img src="{{site.url}}/img/clients/organicBrilliance.png" class="img-responsive img-centered img-fluid" alt="Organic Brilliance" title="Organic Brilliance">
              </a>
            </li>
            <li class="span2">
              <a class="thumbnail" id="carousel-selector-4">
                <img src="{{site.url}}/img/clients/shively.png" class="img-responsive img-centered img-fluid" alt="Shively Sporting Goods" title="Shively Sporting Goods">
              </a>
            </li>
            <li class="span2">
              <a class="thumbnail" id="carousel-selector-5">
                <img src="{{site.url}}/img/clients/elCoyote.png" class="img-responsive img-centered img-fluid" alt="El Coyote" title="El Coyote">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Slider -->
      <div class="row">
        <div class="col-lg-12" id="slider">
          <!-- Top part of the slider -->
          <div class="row">
            <div class="col-lg-12" id="carousel-bounding-box">
              <div class="carousel slide" id="myCarousel">
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="active item" data-slide-number="0">
                    <img src="{{site.url}}/img/clients/singingSuccessMockup.png" alt="Singing Success">
                  </div>
                  <div class="item" data-slide-number="1">
                    <img src="{{site.url}}/img/clients/test.png" alt="Science Hill Inn">
                  </div>
                  <div class="item" data-slide-number="2">
                    <img src="{{site.url}}/img/clients/tranquilityMockup.png" alt="Tranquility Salon & Spa">
                  </div>
                  <div class="item" data-slide-number="3">
                    <img src="{{site.url}}/img/clients/test.png" alt="Organic Brilliance">
                  </div>
                  <div class="item" data-slide-number="4">
                    <img src="{{site.url}}/img/clients/test.png" alt="Shively Sporting Goods">
                  </div>
                  <div class="item" data-slide-number="5">
                    <img src="{{site.url}}/img/clients/test.png" alt="El Coyote">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12" id="carousel-text"></div>

            <div id="slide-content" style="display: none;">
              <div id="slide-content-0">
                <h2>Singing Success</h2>
                <p>Lorem Ipsum Dolor</p>
                <p class="sub-text">October 24 2012 - <a href="#">Read more</a></p>
              </div>

              <div id="slide-content-1">
                <h2>Science Hill Inn</h2>
                <p>Lorem Ipsum Dolor</p>
                <p class="sub-text">October 24 2012 - <a href="#">Read more</a></p>
              </div>

              <div id="slide-content-2">
                <h2>Tranquility Salon & Spa</h2>
                <p>Lorem Ipsum Dolor</p>
                <p class="sub-text">October 24 2012 - <a href="#">Read more</a></p>
              </div>

              <div id="slide-content-3">
                <h2>Organic Brilliance</h2>
                <p>Lorem Ipsum Dolor</p>
                <p class="sub-text">October 24 2012 - <a href="#">Read more</a></p>
              </div>

              <div id="slide-content-4">
                <h2>Shively Sporting Goods</h2>
                <p>Lorem Ipsum Dolor</p>
                <p class="sub-text">October 24 2012 - <a href="#">Read more</a></p>
              </div>

              <div id="slide-content-5">
                <h2>El Coyote</h2>
                <p>Lorem Ipsum Dolor</p>
                <p class="sub-text">October 24 2012 - <a href="#">Read more</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>