<section id="caseStudies">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img src="{{site.url}}/img/logos/singingSuccess.png" class="img-responsive img-centered img-fluid" alt="Singing Success" title="Singing Success">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img src="{{site.url}}/img/logos/albrecht.png" class="img-responsive img-centered img-fluid" alt="Albrecht Painting" title="Albrecht Painting">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img src="{{site.url}}/img/logos/elCoyote.png" class="img-responsive img-centered img-fluid" alt="El Coyote" title="El Coyote">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img src="{{site.url}}/img/logos/tranquility.png" class="img-responsive img-centered img-fluid" alt="Tranquility" title="Tranquility">
        </a>
      </div>
    </div>
  </div>
</section>
