<!--
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="socialButtons">
					<li>
						<a class="footer-logo page-scroll" href="#page-top">
              
            </a>
					</li>
				</ul>
			</div>
			<div class="col-md-12">
				<ul class="socialButtons">
					<li>
						<a href="{{site.facebook}}" target="_blank">
              
						</a>
					</li>
					<li>
						<a href="{{site.twitter}}" target="_blank">
              
						</a>
					</li>
					<li>
						<a href="{{site.instagram}}" target="_blank">
              
						</a>
					</li>
					<li>
						<a href="{{site.linkedin}}" target="_blank">
              
						</a>
					</li>
					<li class="instagram">
						<a href="{{site.instagram}}" target="_blank">
              
						</a>
					</li>
					<li>
						<a href="{{site.instagram}}" target="_blank">
              
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-12">
				<span class="copyright">Copyright &copy;</span>
			</div>
		</div>
	</div>
</footer>
-->


<footer id="footer-Section">
	<div class="footer-top-layout">
		<div class="container">
			<div class="row">
				<div class="OurBlog">
					<div class="col-md-12">
						<ul class="socialButtons">
							<li>
								<a class="footer-logo page-scroll" href="#page-top">
              {% include /svg/1926agency.html %}
            </a>
							</li>
						</ul>
					</div>
					<div class="col-md-12 footer-links">
						<ul class="socialButtons">
							<li>
								<a href="{{site.facebook}}" target="_blank">
              {% include /svg/facebook-svg.html %}
						</a>
							</li>
							<li>
								<a href="{{site.twitter}}" target="_blank">
              {% include /svg/twitter-svg.html %}
						</a>
							</li>
							<li>
								<a href="{{site.instagram}}" target="_blank">
              {% include /svg/youtube-svg.html %}
						</a>
							</li>
							<li>
								<a href="{{site.linkedin}}" target="_blank">
              {% include /svg/linkedin-svg.html %}
						</a>
							</li>
							<li class="instagram">
								<a href="{{site.instagram}}" target="_blank">
              {% include /svg/instagram-svg.html %}
						</a>
							</li>
							<li>
								<a href="{{site.instagram}}" target="_blank">
              {% include /svg/snapchat-svg.html %}
						</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-10 col-lg-offset-1">
					<div class="col-sm-4">
						<div class="footer-col-item">
							<h5>Location</h5>
							<address>
              687 East Market St.<br>
              40204 Louisville, Ky
              </address>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="footer-col-item">
							<h5>Get in Touch</h5>
							<div class="item-contact"> <a href="tel:+16157938799"><span class="link-id">P</span>:<span>615 793 8799</span></a> <a href="mailto:info@brandcatmedia.com"><span class="link-id">E</span>:<span>info@1926agency.com</span></a> </div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="footer-col-item">
							<h5>Newsletter Sign Up</h5>
							<form class="signUpNewsletter" action="" method="get">
								<input name="" class="gt-email form-control" placeholder="You@youremail.com" type="text">
								<input name="" class="btn-go" value="Go" type="button">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
