<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="socialButtons">
          <li>
            <a class="footer-logo page-scroll" href="#page-top">
              {% include /svg/1926agency.html %}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <ul class="socialButtons">
          <li>
            <a href="{{site.facebook}}" target="_blank">
              {% include /svg/facebook-svg.html %}
						</a>
          </li>
          <li>
            <a href="{{site.twitter}}" target="_blank">
              {% include /svg/twitter-svg.html %}
						</a>
          </li>
					<li>
            <a href="{{site.instagram}}" target="_blank">
              {% include /svg/youtube-svg.html %}
						</a>
          </li>
          <li>
            <a href="{{site.linkedin}}" target="_blank">
              {% include /svg/linkedin-svg.html %}
						</a>
          </li>
          <li class="instagram">
            <a href="{{site.instagram}}" target="_blank">
              {% include /svg/instagram-svg.html %}
						</a>
          </li>
					<li>
            <a href="{{site.instagram}}" target="_blank">
              {% include /svg/snapchat-svg.html %}
						</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <span class="copyright">Copyright &copy; {{site.title}}, {{site.time | date: '%Y'}}</span>
      </div>
    </div>
  </div>
</footer>
