<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<a class="navbar-brand" href="#">{% include /svg/1926agency.html %}</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"> Home </a></li>
				<li class="dropdown mega-dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"> What We Do <span class="caret"></span></a>
					<div id="filters" class="dropdown-menu mega-dropdown-menu">
						<div class="container-fluid2">
							<!-- Tab panes -->
							<div class="tab-content">


								<div class="tab-pane active" id="kids">
									<ul class="nav-list list-inline">
										<li>
											<a data-filter=".89" href="#">{% include svg/share.html %}<span>Social Media</span></a>
										</li>
										<li>
											<a data-filter=".97" href="#">{% include svg/responsive.html %}<span>Web Design</span></a>
										</li>
										<li>
											<a data-filter=".96" href="#">{% include svg/worldWide.html %}<span>SEO</span></a>
										</li>
										<li>
											<a data-filter=".87" href="#">{% include svg/target.html %}<span>Lead Generation</span></a>
										</li>
										<li>
											<a data-filter=".85" href="#">{% include svg/mailing.html %}<span>Email Marketing</span></a>
										</li>
										<li>
											<a data-filter=".90" href="#">{% include svg/startup.html %}<span>Branding</span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li><a href="#"> Who We Are </a></li>
				<li><a href="#"> Case Studies </a></li>
				<li><a href="#"> Videos </a></li>
				<li><a href="#"> Blog </a></li>
				
				<!--
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Nombre
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<div class="navbar-login">
								<div class="row">
									<div class="col-lg-4">
										<p class="text-center">
											<span class="glyphicon glyphicon-user icon-size"></span>
										</p>
									</div>
									<div class="col-lg-8">
										<p class="text-left">Nombre Apellido</p>
										<p class="text-left small">correoElectronico@email.com</p>
										<p class="text-left">
											<a href="#" class="btn btn-primary btn-block btn-sm">Actualizar Datos</a>
										</p>
									</div>
								</div>
							</div>
						</li>
						<li class="divider"></li>
						<li>
							<div class="navbar-login navbar-login-session">
								<div class="row">
									<div class="col-lg-12">
										<p>
											<a href="#" class="btn btn-danger btn-block">Cerrar Sesion</a>
										</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</li>
-->
<!--
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Log In <span class="caret"></span></a>
					<ul id="login-dp" class="dropdown-menu">
						<li>
							<div class="row">
								<div class="col-md-12">
									Login via
									<div class="social-buttons">
										<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
										<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
									</div>
									or
									<form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
											<label class="sr-only" for="exampleInputEmail2">Email address</label>
											<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required="">
										</div>
										<div class="form-group">
											<label class="sr-only" for="exampleInputPassword2">Password</label>
											<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required="">
											<div class="help-block text-right"><a href="">Forget the password ?</a></div>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-primary btn-block">Sign in</button>
										</div>
										<div class="checkbox">
											<label>
											 <input type="checkbox"> keep me logged-in
											 </label>
										</div>
									</form>
								</div>
								<div class="bottom text-center">
									New here ? <a href="#"><b>Join Us</b></a>
								</div>
							</div>
						</li>
					</ul>
				</li>
-->
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
