<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix">
	<div class="container-fluid">
    
		<div class="navbar-header page-scroll">
      
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      
      {% if page.url == "/" %}
        <a class="navbar-brand page-scroll" href="#page-top">{% include /svg/1926agency.html %}</a>
      {% endif %}
      
		</div>

    {% if page.url == "/" %}
    
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden active">
            <a href="#page-top"></a>
          </li>
          <li class="">
            <a class="page-scroll" href="#services">Services</a>
          </li>
          <li class="">
            <a class="page-scroll" href="#team">Team</a>
          </li>
          <li class="">
            <a class="page-scroll" href="#carouselPortfolio">Case Studies</a>
          </li>
          
          {% if site.vlogs == true %}
          <li class="">
            <a class="page-scroll" href="#vlogs">Vlogs</a>
          </li>
          {% endif %}
          
          {% if site.blogs == true %}
          <li class="">
            <a class="page-scroll" href="#blogs">Blogs</a>
          </li>
          {% endif %}
          
          <li>
            <a class="page-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    
    {% endif %}
    
	</div>
  
</nav>
