<section id="services">
  <div id="trigger1" class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Services</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="spacer s2"></div>
        <div class="spacer s0"></div>
        <object type="image/svg+xml" data="{{site.url}}/img/svg/038-share.svg">
          Social Media
        </object>
        <div class="spacer s2"></div>
        <h4 class="service-heading">Social Media</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <div class="spacer s2"></div>
        <div class="spacer s0"></div>
        <object type="image/svg+xml" data="{{site.url}}/img/svg/014-responsive.svg">
          Web Design
        </object>
        <div class="spacer s2"></div>
        <h4 class="service-heading">Web Design</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <div class="spacer s2"></div>
        <div class="spacer s0"></div>
        <object type="image/svg+xml" data="{{site.url}}/img/svg/031-worldwide.svg">
          SEO
        </object>
        <div class="spacer s2"></div>
        <h4 class="service-heading">SEO</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="spacer s2"></div>
        <div class="spacer s0"></div>
        <object type="image/svg+xml" data="{{site.url}}/img/svg/004-target-1.svg">
          Lead Gen
        </object>
        <div class="spacer s2"></div>
        <h4 class="service-heading">Lead Gen</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <div class="spacer s2"></div>
        <div class="spacer s0"></div>
        <object type="image/svg+xml" data="{{site.url}}/img/svg/039-mailing.svg">
          Email Campaigns
        </object>
        <div class="spacer s2"></div>
        <h4 class="service-heading">Email Campaigns</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
        <div class="spacer s2"></div>
        <div class="spacer s0"></div>
        <object type="image/svg+xml" data="{{site.url}}/img/svg/020-piggy-bank.svg">
          Branding
        </object>
        <div class="spacer s2"></div>
        <h4 class="service-heading">Branding</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
    </div>
  </div>
</section>

<div class="spacer s2"></div>
