<section id="caseStudies">
	<div class="container-full">

		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Case Studies</h2>
				<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
			</div>
		</div>

		<div id="myCarousel" class="carousel slide" data-ride="carousel">

			<ul class="nav nav-pills nav-justified carousel-border">
				<li data-target="#myCarousel" data-slide-to="0" class="singing-success active">
					<a href="#">
						<img src="{{site.url}}/img/clients/singingSuccess.png" class="img-responsive img-centered img-fluid" alt="Singing Success" title="Singing Success">
					</a>
				</li>
				<li data-target="#myCarousel" data-slide-to="1" class="science-hill">
					<a href="#">
						<img src="{{site.url}}/img/clients/scienceHill.png" class="img-responsive img-centered img-fluid" alt="Science Hill Inn" title="Science Hill Inn">
					</a>
				</li>
				<li data-target="#myCarousel" data-slide-to="2" class="tranquility">
					<a href="#">
						<img src="{{site.url}}/img/clients/tranquility.png" class="img-responsive img-centered img-fluid" alt="Tranquility" title="Tranquility">
					</a>
				</li>
				<li data-target="#myCarousel" data-slide-to="3" class="shively-sporting-goods">
					<a href="#">
						<img src="{{site.url}}/img/clients/shively.png" class="img-responsive img-centered img-fluid" alt="Shively Sporting Goods" title="Shively Sporting Goods">
					</a>
				</li>
				<li data-target="#myCarousel" data-slide-to="4" class="el-coyote">
					<a href="#">
						<img src="{{site.url}}/img/clients/elCoyote.png" class="img-responsive img-centered img-fluid" alt="El Coyote" title="El Coyote">
					</a>
				</li>
			</ul>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
<!--

				<div class="item active container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-7">
								<div class="overlay">
									<div class="project-assets">
										<div class="imac">
											<div class="screen">
												<div class="viewport" style="background-image:url('{{site.url}}/img/screenshots/singing-success-ss.png');"></div>
											</div>
											<div class="logo"></div>
											<div class="leg"></div>
											<div class="foot"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-5">
								<div class="overlay">
									<h3>Singing Success</h3>
									<h5>project subtitle</h5>
									<hr>
									<p>Knock over christmas tree run in circles, but bleghbleghvomit my furball really tie the room together. Sit and stare rub whiskers on bare skin act innocent or fooled again thinking the dog likes me. Cough furball poop in a handbag look delicious and drink the soapy mopping up water then puke giant foamy fur-balls but step on your keyboard while you're gaming and then turn in a circle yet slap kitten brother with paw hide from vacuum cleaner.</p>
									<div class="btn btn-lg">Press me</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				

				<div class="item container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-7">
								<div class="overlay">
									<div class="project-assets">
										<div class="imac">
											<div class="screen">
												<div class="viewport" style="background-image:url('{{site.url}}/img/screenshots/singing-success-ss.png');"></div>
											</div>
											<div class="logo"></div>
											<div class="leg"></div>
											<div class="foot"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-5">
								<div class="overlay">
									<h3>Science Hill Inn</h3>
									<h5>project subtitle</h5>
									<hr>
									<p>Knock over christmas tree run in circles, but bleghbleghvomit my furball really tie the room together. Sit and stare rub whiskers on bare skin act innocent or fooled again thinking the dog likes me. Cough furball poop in a handbag look delicious and drink the soapy mopping up water then puke giant foamy fur-balls but step on your keyboard while you're gaming and then turn in a circle yet slap kitten brother with paw hide from vacuum cleaner.</p>
									<div class="btn btn-lg">Press me</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				

				<div class="item container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-7">
								<div class="overlay">
									<div class="project-assets">
										<div class="imac">
											<div class="screen">
												<div class="viewport" style="background-image:url('{{site.url}}/img/screenshots/your-tranquility-ss.png');"></div>
											</div>
											<div class="logo"></div>
											<div class="leg"></div>
											<div class="foot"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-5">
								<div class="overlay">
									<h3>Tranquility Salon and Spa</h3>
									<h5>project subtitle</h5>
									<hr>
									<p>Knock over christmas tree run in circles, but bleghbleghvomit my furball really tie the room together. Sit and stare rub whiskers on bare skin act innocent or fooled again thinking the dog likes me. Cough furball poop in a handbag look delicious and drink the soapy mopping up water then puke giant foamy fur-balls but step on your keyboard while you're gaming and then turn in a circle yet slap kitten brother with paw hide from vacuum cleaner.</p>
									<div class="btn btn-lg">Press me</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				

				<div class="item container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-7">
								<div class="overlay">
									<div class="project-assets">
										<div class="imac">
											<div class="screen">
												<div class="viewport" style="background-image:url('{{site.url}}/img/screenshots/your-tranquility-ss.png');"></div>
											</div>
											<div class="logo"></div>
											<div class="leg"></div>
											<div class="foot"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-5">
								<div class="overlay">
									<h3>Shively Sporting Goods</h3>
									<h5>project subtitle</h5>
									<hr>
									<p>Knock over christmas tree run in circles, but bleghbleghvomit my furball really tie the room together. Sit and stare rub whiskers on bare skin act innocent or fooled again thinking the dog likes me. Cough furball poop in a handbag look delicious and drink the soapy mopping up water then puke giant foamy fur-balls but step on your keyboard while you're gaming and then turn in a circle yet slap kitten brother with paw hide from vacuum cleaner.</p>
									<div class="btn btn-lg">Press me</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				

				<div class="item container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-7">
								<div class="overlay">
									<div class="project-assets">
										<div class="imac">
											<div class="screen">
												<div class="viewport" style="background-image:url('{{site.url}}/img/screenshots/el-coyote-ss.png');"></div>
											</div>
											<div class="logo"></div>
											<div class="leg"></div>
											<div class="foot"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-5">
								<div class="overlay">
									<h3>El Coyote</h3>
									<h5>project subtitle</h5>
									<hr>
									<p>Knock over christmas tree run in circles, but bleghbleghvomit my furball really tie the room together. Sit and stare rub whiskers on bare skin act innocent or fooled again thinking the dog likes me. Cough furball poop in a handbag look delicious and drink the soapy mopping up water then puke giant foamy fur-balls but step on your keyboard while you're gaming and then turn in a circle yet slap kitten brother with paw hide from vacuum cleaner.</p>
									<div class="btn btn-lg">Press me</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
-->

			</div>
			<!-- End Carousel Inner -->

		</div>
		<!-- End Carousel -->
	</div>
</section>
