<section id="caseStudies">
	<div class="container-full">

		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Case Studies</h2>
				<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
			</div>
		</div>

		<div id="myCarousel" class="carousel slide" data-ride="carousel">

			<ul class="nav nav-pills nav-justified">
				<li data-target="#myCarousel" data-slide-to="0" class="active">
					<a href="#">
						<img src="{{site.url}}/img/logos/singingSuccess.png" class="img-responsive img-centered img-fluid" alt="Singing Success" title="Singing Success">
					</a>
				</li>
				<li data-target="#myCarousel" data-slide-to="1">
					<a href="#">
						<img src="{{site.url}}/img/logos/albrecht.png" class="img-responsive img-centered img-fluid" alt="Albrecht Painting" title="Albrecht Painting">
					</a>
				</li>
				<li data-target="#myCarousel" data-slide-to="2">
					<a href="#">
						<img src="{{site.url}}/img/logos/elCoyote.png" class="img-responsive img-centered img-fluid" alt="El Coyote" title="El Coyote">
					</a>
				</li>
				<li data-target="#myCarousel" data-slide-to="3">
					<a href="#">
						<img src="{{site.url}}/img/logos/tranquility.png" class="img-responsive img-centered img-fluid" alt="Tranquility" title="Tranquility">
					</a>
				</li>
			</ul>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">

				<div class="item active">
					<div class="row">
						<div class="col-lg-12">
							<img src="" alt="Singing Success Project Slider Background" title="Singing Success Inc.">
							<div class="col-lg-8">
								<div class="overlay">
									<div class="project-assets">
										<img src="" alt="Singing Success Project Assets Background" title="Singing Success Website Preview">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="overlay">
							<h3>Project Title</h3>
							<h5>project subtitle</h5>
							<hr>
							<p>Knock over christmas tree run in circles, but bleghbleghvomit my furball really tie the room together. Sit and stare rub whiskers on bare skin act innocent or fooled again thinking the dog likes me. Cough furball poop in a handbag look delicious and drink the soapy mopping up water then puke giant foamy fur-balls but step on your keyboard while you're gaming and then turn in a circle yet slap kitten brother with paw hide from vacuum cleaner.</p>
							<div class="btn btn-lg">Press me</div>
						</div>
					</div>
				</div>
				<!-- End Item -->

				<div class="item">
					<img src="http://placehold.it/1200x400/999999/cccccc">
					<div class="carousel-caption">
						<h3>Headline</h3>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
					</div>
				</div>
				<!-- End Item -->

				<div class="item">
					<img src="http://placehold.it/1200x400/dddddd/333333">
					<div class="carousel-caption">
						<h3>Headline</h3>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
					</div>
				</div>
				<!-- End Item -->

				<div class="item">
					<img src="http://placehold.it/1200x400/999999/cccccc">
					<div class="carousel-caption">
						<h3>Headline</h3>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
					</div>
				</div>
				<!-- End Item -->

			</div>
			<!-- End Carousel Inner -->

		</div>
		<!-- End Carousel -->
	</div>
</section>
