<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2 class="section-heading">Meet some of our creative jedi</h2>
        <h3 class="section-subheading text-muted">This team of whippersnappers will help you stand out over your competitors. You shouldn't approach marketing willy-nilly. Let us do it for you. Whether it's social media, web design, search engine optimization, lead generation, email campaigns, or branding in general we're the team for you!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5ths col-xs-12">
        <div class="team-member-overlay">
          <div class="teamMember">
            <div class="matthewMartin"></div>
          </div>
          <div class="team-member-info">
            <ul>
              <li>
                <h4>Matthew Martin</h4>
              </li>
              <li>
                <h5 class="text-muted teamTitle">Owner</h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5ths col-xs-12">
        <div class="team-member-overlay">
          <div class="teamMember">
            <div class="laurenParker"></div>
          </div>
          <div class="team-member-info">
            <ul>
              <li>
                <h4>Lauren Parker</h4>
              </li>
              <li>
                <h5 class="text-muted teamTitle">Lead Strategist</h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5ths col-xs-12">
        <div class="team-member-overlay">
          <div class="teamMember">
            <div class="mollyTurner"></div>
          </div>
          <div class="team-member-info">
            <ul>
              <li>
                <h4>Molly Turner</h4>
              </li>
              <li>
                <h5 class="text-muted teamTitle">Graphic Designer</h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5ths col-xs-12">
        <div class="team-member-overlay">
          <div class="teamMember">
            <div class="andrewKolisz"></div>
          </div>
          <div class="team-member-info">
            <ul>
              <li>
                <h4>Andrew Kolisz</h4>
              </li>
              <li>
                <h5 class="text-muted teamTitle">Web Developer</h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-5ths col-xs-12">
        <div class="team-member-overlay">
          <div class="teamMember">
            <div class="matthewLong"></div>
          </div>
          <div class="team-member-info">
            <ul>
              <li>
                <h4>Matthew Long</h4>
              </li>
              <li>
                <h5 class="text-muted teamTitle">Web Developer</h5>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
