<div class="vlogs-modal modal fade" id="vlogsModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Vlog One Title</h2>
              <ul class="list-inline text-muted">
                <li>Date: July 2017</li>
                <li>Client: <a href="#" target="_blank">Singing Success</a></li>
                <li>Category: Lead Gen</li>
              </ul>
              <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
              <h3>Vlog One Description</h3>
              <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Back to Home</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>View More </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
