	body {
	overflow-x: hidden;
	@include body-font;
	webkit-tap-highlight-color: $theme-primary;
}

.text-muted {
	color: $gray-light;
}

.text-primary {
	color: $theme-primary;
}

p {
	font-size: 14px;
	line-height: 1.75;
}

p.large {
	font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
	outline: none;
	color: darken($theme-primary, 10%);
}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include heading-font;
		font-weight: 700;
	}
	// Highlight Color Customization
	::-moz-selection {
		text-shadow: none;
		background: $theme-primary;
	}
	::selection {
		text-shadow: none;
		background: $theme-primary;
	}
	img::selection {
		background: transparent;
	}
	img::-moz-selection {
		background: transparent;
	}
	.img-centered {
		margin: 0 auto;
	}
	.bg-light-gray {
		background-color: $gray-lighter;
	}
	.bg-darkest-gray {
		background-color: $gray-darker;
	}
