.publicaciones-blog-home {
  padding: 20px 0;
  background: url("") no-repeat fixed center center;
  background-size: 100% auto;
  background-color: $gray-lighter;
  h1 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
//    font-size: 44px;
    margin-top: 70px;
    span.colorPrimary {
      color: $theme-primary;
      font-weight: bold;
    }
  }
  .fondo-publicacion-home {
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    height: 300px;
    margin-bottom: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
    &:hover {
      h3 {
        color: $theme-primary;
      }
      .mascara-enlace-blog-home {
        height: 300px;
        width: 100%;
        color: #aaa;
        background-color: $theme-primary;
        position: absolute;
        top: 0;
        opacity: 0.95;
        @include transition(0.4s, ease-out, all);
      }
    }
  }
  .black {
    background: $theme-primary;
  }
  .fondo-publicacion-home {
    .img-publicacion-principal-home {
      display: inline-block;
      width: 50%;
      overflow: hidden;
      height: 100%;
      img {
        height: 100%;
        width: auto;
      }
    }
    .contenido-publicacion-principal-home {
      display: inline-block;
      vertical-align: top;
      width: 49%;
      padding: 0 10px;
      h3 {
        font-weight: 900;
        color: #fff;
        text-transform: uppercase;
//        font-size: 30px;
      }
      p {
        color: #fff;
//        font-size: 16px;
        font-weight: 300;
      }
    }
    .contenido-publicacion-home {
      padding: 0 10px;
      h3 {
        font-weight: 900;
//        font-size: 20px;
        text-transform: uppercase;
      }
    }
    .img-publicacion-home {
      overflow: hidden;
      max-height: 180px;
    }
  }
}

.mascara-enlace-blog-home {
  height: 300px;
  width: 0%;
  color: #aaa;
  background-color: $theme-primary;
  position: absolute;
  top: 0;
  opacity: 0.0;
  @include transition(0.4s, ease-out, all);
  text-align: center;
  padding-top: 180px;
  span {
    text-align: center;
    max-height: 300px;
    border: 2px solid #fff;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 4px;
    color: #fff;
    font-weight: 900;
//    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
  }
}

.publicaciones-blog-home .todas-las-publicaciones-home {
  background: $theme-primary;
  height: 300px;
  width: 100%;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  border-radius: 3px;
  span {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
//    font-size: 25px;
    line-height: 26px;
  }
}