.cont_principal {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.cont_error {
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 300px;
	top: 50%;
	margin-top: -150px;
	> {
		h1 {
			color: $theme-primary;
			font-weight: 400;
			font-size: 150px;
			color: #000;
			position: relative;
			left: -100%;
			transition: all 0.5s;
		}
		p {
			font-weight: 300;
			font-size: 24px;
			letter-spacing: 5px;
			color: $theme-primary;
			position: relative;
			left: 100%;
			transition: all 0.5s;
			transition-delay: 0.5s;
			@include transition(0.5s, ease, all);
			a {
				text-decoration: none;
				&:hover {
					border-bottom: 2px solid $theme-primary;
				}
			}
		}
	}
}

.cont_aura_1 {
	position: absolute;
	width: 300px;
	height: 120%;
	top: 25px;
	right: -340px;
	background-color: $theme-primary-darken;
	box-shadow: 0px 0px 60px 20px rgba(252, 108, 184, 0.5);
	@include transition(0.5s, ease, all);
}

.cont_aura_2 {
	position: absolute;
	width: 100%;
	height: 300px;
	right: -10%;
	bottom: -301px;
	background-color: $theme-primary-lighten;
	box-shadow: 0px 0px 60px 10px rgba(229, 4, 122, 0.5), 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	z-index: 5;
	@include transition(0.5s, ease, all);
}

.cont_error_active> {
	.cont_error> {
		h1,
		p {
			left: 0%;
		}
	}
	.cont_aura_2 {
		animation-name: animation_error_2;
		animation-duration: 4s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		transform: rotate(-20deg);
	}
	.cont_aura_1 {
		transform: rotate(20deg);
		right: -170px;
		animation-name: animation_error_1;
		animation-duration: 4s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
}

@-webkit-keyframes animation_error_1 {
	from {
		-webkit-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	to {
		-webkit-transform: rotate(25deg);
		transform: rotate(25deg);
	}
}

@-o-keyframes animation_error_1 {
	from {
		-webkit-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	to {
		-webkit-transform: rotate(25deg);
		transform: rotate(25deg);
	}
}

@-moz-keyframes animation_error_1 {
	from {
		-webkit-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	to {
		-webkit-transform: rotate(25deg);
		transform: rotate(25deg);
	}
}

@keyframes animation_error_1 {
	from {
		-webkit-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	to {
		-webkit-transform: rotate(25deg);
		transform: rotate(25deg);
	}
}

@-webkit-keyframes animation_error_2 {
	from {
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}
	to {
		-webkit-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}
}

@-o-keyframes animation_error_2 {
	from {
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}
	to {
		-webkit-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}
}

@-moz-keyframes animation_error_2 {
	from {
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}
	to {
		-webkit-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}
}

@keyframes animation_error_2 {
	from {
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}
	to {
		-webkit-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}
}


/* 404 text */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

.cont_principal {
	background-color: #F9F9F9;
	color: #fff;
	font-size: 100%;
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
}

h1 {
	&.four-o-four {
		color: #F9F9F9;
		text-align: center;
		font-size: 15em;
		font-weight: 100;
		text-shadow: #fc62ac 1px 1px, #fc62ac 2px 2px, #fc62cc 3px 3px, #fc62cd 4px 4px, #fc62cd 5px 5px, #fc62cd 6px 6px, #fc62cd 7px 7px, #fc62ce 8px 8px, #fc63ce 9px 9px, #fc63ce 10px 10px, #fc63ce 11px 11px, #fc63cf 12px 12px, #fc63cf 13px 13px, #fc63cf 14px 14px, #fc63cf 15px 15px, #fc63d0 16px 16px, #fc64d0 17px 17px, #fc64d0 18px 18px, #fc64d0 19px 19px, #fc64d1 20px 20px, #fc64d1 21px 21px, #fc64d1 22px 22px, #fc64d1 23px 23px, #fc64d2 24px 24px, #fc65d2 25px 25px, #fc65d2 26px 26px, #fc65d2 27px 27px, #fc65d3 28px 28px, #fc65d3 29px 29px, #fc65d3 30px 30px, #fc65d3 31px 31px, #fc65d4 32px 32px, #fc65d4 33px 33px, #fc66d4 34px 34px, #fc66d4 35px 35px, #fc66d5 36px 36px, #fc66d5 37px 37px, #fc66d5 38px 38px, #fc66d5 39px 39px, #fc66d6 40px 40px, #fc66d6 41px 41px, #fc67d6 42px 42px, #fc67d6 43px 43px, #fc67d7 44px 44px, #fc67d7 45px 45px, #fc67d7 46px 46px, #fc67d7 47px 47px, #fc67d8 48px 48px, #fc67d8 49px 49px, #fc68d8 50px 50px, #fc68d9 51px 51px, #fc68d9 52px 52px, #fc68d9 53px 53px, #fc68d9 54px 54px, #fc68da 55px 55px, #fc68da 56px 56px, #fc68da 57px 57px, #fc68da 58px 58px, #fc69db 59px 59px, #fc69db 60px 60px, #fc69db 61px 61px, #fc69db 62px 62px, #fc69dc 63px 63px, #fc69dc 64px 64px, #fc69dc 65px 65px, #fc69dc 66px 66px, #fc6add 67px 67px, #fc6add 68px 68px, #fc6add 69px 69px, #fc6add 70px 70px, #fc6ade 71px 71px, #fc6ade 72px 72px, #fc6ade 73px 73px, #fc6ade 74px 74px, #fc6bdf 75px 75px, #fc6bdf 76px 76px, #fc6bdf 77px 77px, #fc6bdf 78px 78px, #fc6be0 79px 79px, #fc6be0 80px 80px, #fc6be0 81px 81px, #fc6be0 82px 82px, #fc6be1 83px 83px, #fc6ce1 84px 84px, #fc6ce1 85px 85px, #fc6ce1 86px 86px, #fc6ce2 87px 87px, #fc6ce2 88px 88px, #fc6ce2 89px 89px, #fc6ce2 90px 90px, #fc6ce3 91px 91px, #fc6de3 92px 92px, #fc6de3 93px 93px, #fc6de3 94px 94px, #fc6de4 95px 95px, #fc6de4 96px 96px, #fc6de4 97px 97px, #fc6de4 98px 98px, #fc6de5 99px 99px, #fc6ee5 100px 100px, #fc6ee5 101px 101px, #fc6ee6 102px 102px, #fc6ee6 103px 103px, #fc6ee6 104px 104px, #fc6ee6 105px 105px, #fc6ee7 106px 106px, #fc6ee7 107px 107px, #fc6ee7 108px 108px, #fc6fe7 109px 109px, #fc6fe8 110px 110px, #fc6fe8 111px 111px, #fc6fe8 112px 112px, #fc6fe8 113px 113px, #fc6fe9 114px 114px, #fc6fe9 115px 115px, #fc6fe9 116px 116px, #fc70e9 117px 117px, #fc70ea 118px 118px, #fc70ea 119px 119px, #fc70ea 120px 120px, #fc70ea 121px 121px, #fc70eb 122px 122px, #fc70eb 123px 123px, #fc70eb 124px 124px, #fc71eb 125px 125px, #fc71ec 126px 126px, #fc71ec 127px 127px, #fc71ec 128px 128px, #fc71ec 129px 129px, #fc71ed 130px 130px, #fc71ed 131px 131px, #fc71ed 132px 132px, #fc71ed 133px 133px, #fc72ee 134px 134px, #fc72ee 135px 135px, #fc72ee 136px 136px, #fc72ee 137px 137px, #fc72ef 138px 138px, #fc72ef 139px 139px, #fc72ef 140px 140px, #fc72ef 141px 141px, #fc73f0 142px 142px, #fc73f0 143px 143px, #fc73f0 144px 144px, #fc73f0 145px 145px, #fc73f1 146px 146px, #fc73f1 147px 147px, #fc73f1 148px 148px, #fc73f1 149px 149px, #fc74f2 150px 150px, #fc74f2 151px 151px, #fc74f2 152px 152px, #fc74f3 153px 153px, #fc74f3 154px 154px, #fc74f3 155px 155px, #fc74f3 156px 156px, #fc74f4 157px 157px, #fc74f4 158px 158px, #fc75f4 159px 159px, #fc75f4 160px 160px, #fc75f5 161px 161px, #fc75f5 162px 162px, #fc75f5 163px 163px, #fc75f5 164px 164px, #fc75f6 165px 165px, #fc75f6 166px 166px, #fc76f6 167px 167px, #fc76f6 168px 168px, #fc76f7 169px 169px, #fc76f7 170px 170px, #fc76f7 171px 171px, #fc76f7 172px 172px, #fc76f8 173px 173px, #fc76f8 174px 174px, #fc77f8 175px 175px, #fc77f8 176px 176px, #fc77f9 177px 177px, #fc77f9 178px 178px, #fc77f9 179px 179px, #fc77f9 180px 180px, #fc77fa 181px 181px, #fc77fa 182px 182px, #fc77fa 183px 183px, #fc78fa 184px 184px, #fc78fb 185px 185px, #fc78fb 186px 186px, #fc78fb 187px 187px, #fc78fb 188px 188px, #fc78fc 189px 189px, #fc78fc 190px 190px, #fc78fc 191px 191px, #fc79fc 192px 192px, #fc79fd 193px 193px, #fc79fd 194px 194px, #fc79fd 195px 195px, #fc79fd 196px 196px, #fc79fe 197px 197px, #fc79fe 198px 198px, #fc79fe 199px 199px, #fc7aff 200px 200px;
	}
}
