.navbar {
	border: none;
	.dropdown {
		a,
		a:hover,
		a:focus,
		a:active,
		a.active {
			color: #222;
			&.btn {
				color: #FFF;
			}
		}
	}
	.container-fluid {
		background-color: #FFF;
	}
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: $theme-primary;
	background-color: #FFF;
}

.list-inline {
	padding: 1.5rem 0;
	margin-left: -5px;
	list-style: none;
	display: inline-flex;
	justify-content: space-evenly;
	width: 100%;
}

.navbar-brand {
	width: 70px;
	height: 50px;
	background: url('http://www.sneaker-mission.com/uploads/3/1/2/7/31279819/5617441.png') no-repeat center center;
	background-size: 50px;
}

.nav-tabs {
	display: inline-block;
	border-bottom: none;
	padding-top: 15px;
	font-weight: bold;
}

.nav-tabs>li>a,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	border: none;
	border-radius: 0;
}

.nav-list a {
	display: block;
	width: 100%;
	padding: 1.5rem;
}

.nav-list {
	svg {
		max-height: 7rem;
		margin-bottom: 1rem;
	}
}

No classes on this element *::-moz-selection {
	text-shadow: none;
	background: #fc53ac;
}

*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.nav-list>li {
	padding: 1.5rem;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	display: inline-flex;
	justify-content: space-evenly;
	width: 16.6666666667%;
	border-radius: 1px solid #eee;
	border-top: none;
	border-bottom: none;
}

.nav-list>li:last-child {
	border-right: 0px solid #eee;
}

.nav-list>li>a:hover {
	text-decoration: none;
}

.nav-list>li>a>span {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
}

.mega-dropdown {
	position: static !important;
}

.mega-dropdown-menu {
	text-align: center;
	width: 100%;
}

#login-dp {
	min-width: 250px;
	padding: 14px 14px 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255,1);
}

#login-dp .help-block {
	font-size: 12px
}

#login-dp .bottom {
	background-color: rgba(255, 255, 255, .8);
	border-top: 1px solid #ddd;
	clear: both;
	padding: 14px;
}

#login-dp .social-buttons {
	margin: 12px 0
}

#login-dp .social-buttons a {
	width: 49%;
}

#login-dp .form-group {
	margin-bottom: 10px;
}

.btn-fb {
	color: #fff;
	background-color: #3b5998;
}

.btn-fb:hover {
	color: #fff;
	background-color: #496ebc
}

.btn-tw {
	color: #fff;
	background-color: #55acee;
}

.btn-tw:hover {
	color: #fff;
	background-color: #59b5fa;
}

@media(max-width:768px) {
	#login-dp {
		background-color: inherit;
		color: #fff;
	}
	#login-dp .bottom {
		background-color: inherit;
		border-top: 0 none;
	}
}

.navbar-login {
	width: 305px;
	padding: 10px;
	padding-bottom: 0px;
}

.navbar-login-session {
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.icon-size {
	font-size: 87px;
}

.navbar-brand {
	width: 70px;
	height: 50px;
	background: url('http://www.sneaker-mission.com/uploads/3/1/2/7/31279819/5617441.png') no-repeat center center;
	background-size: 50px;
	padding-top: 7px;
}

.navbar-nav {
	padding-left: 15px;
}

.navbar-default {
	margin-bottom: 0;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #00486c;
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgb(51, 79, 111);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: white;
	background-color: #428bca;
}

.navbar-default .navbar-nav>li>a {
	color: #222;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0px;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0px;
	margin: 2px 0px 0px;
	font-size: 14px;
	list-style: none;
	background-color: rgba(255,255,255,1);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 0px;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px;
}

.nav-list>li {
	padding: 20px 15px 15px;
	border-left: 0px;
	.nav-list {
		border-bottom: 0px;
	}
	.nav-tabs>li.active>a,
	.nav-tabs>li.active>a:hover,
	.nav-tabs>li.active>a:focus {
		color: white;
		cursor: default;
		background-color: #428bca;
	}
	.nav-tabs>li.active>a,
	.nav-tabs>li.active>a:hover,
	.nav-tabs>li.active>a:focus {
		color: black;
		cursor: default;
		background-color: rgb(255, 255, 255);
		border: solid black 1px;
	}
	body {
		padding-top: 20px;
	}
	#myCarousel .nav a small {
		display: block;
	}
	#myCarousel .nav {
		background: #eee;
	}
	.nav-justified>li>a {
		border-radius: 0px;
	}
	.nav-pills>li[data-slide-to="0"].active a {
		background-color: #16a085;
	}
	.nav-pills>li[data-slide-to="1"].active a {
		background-color: #e67e22;
	}
	.nav-pills>li[data-slide-to="2"].active a {
		background-color: #2980b9;
	}
	.nav-pills>li[data-slide-to="3"].active a {
		background-color: #8e44ad;
	}
}
