//$gradientPurplePink: background: #00bbea;
//    background: -moz-linear-gradient(-45deg, #00bbea 0%, #d32576 100%);
//    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#00bbea), color-stop(100%,#d32576));
//    background: -webkit-linear-gradient(-45deg, #00bbea 0%,#d32576 100%);
//    background: -o-linear-gradient(-45deg, #00bbea 0%,#d32576 100%);
//    background: -ms-linear-gradient(-45deg, #00bbea 0%,#d32576 100%);
//    background: linear-gradient(135deg, #00bbea 0%,#d32576 100%);
//    background-color: rgba(0, 0, 0, 0);

@mixin transition($time, $type, $selector) {
	-webkit-transition: $time $type $selector;
	-moz-transition: $time $type $selector;
	-o-transition: $time $type $selector;
	transition: $time $type $selector;
}

//@mixin buttonGradient() {
//	background: $theme-primary;
//	background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,$theme-primary-darken),color-stop(100%,$theme-primary-lighten));
//	background: -webkit-linear-gradient(bottom,$theme-primary-darken 0%,$theme-primary-lighten 100%);
//	background: -moz-linear-gradient(bottom,$theme-primary-darken 0%,$theme-primary-lighten 100%);
//	background: -ms-linear-gradient(bottom,$theme-primary-darken 0%,$theme-primary-lighten 100%);
//	background: -o-linear-gradient(bottom,$theme-primary-darken 0%,$theme-primary-lighten 100%);
//	background: linear-gradient(to top,$theme-primary-darken 0%,$theme-primary-lighten 100%);
//	color: #fff;
//}