footer {
	display: flex;
	padding: 25px 0;
	text-align: center;
	span.copyright {
		line-height: 40px;
		@include heading-font;
		text-transform: none;
	}
	ul.quicklinks {
		margin-bottom: 0;
		line-height: 40px;
		@include heading-font;
		text-transform: none;
	}
	.social-buttons {
		display: inline-flex;
		li {
			display: inline-flex;
			.footer-logo {
				border-radius: 0;
				border: none;
				background-color: transparent;
				display: inline-flex;
				align-items: center;
				width: 3.5em;
				margin: 0 1rem;
			}
		}
	}
}
