section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    @include serif-font;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    margin: 0 auto 5rem;
    padding: 0 10px;
    max-width: 660px;
  }
}

@media(min-width:768px) {
  section {
    padding: 11rem 0;
  }
}