// Variables - Agency Theme

$theme-primary: #fc53ac;
$theme-primary-darken: darken(#fc53ac, 20%);
$theme-primary-lighten: lighten(#fc53ac, 5%);
$theme-danger: #e74c3c;
$accentPurple: #d32576;
$accentBlue: #00bbea;

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default;
$gray-dark: lighten($gray-base, 20%) !default;
$gray: lighten($gray-base, 33.5%) !default;
$gray-light: lighten($gray-base, 46.7%) !default;
$gray-almost-lighter: lighten($gray-base, 94%) !default;
$gray-lighter: lighten($gray-base, 98.5%) !default;

$commonCircleShadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.05);

$commonBoxShadow: 2px 2px 8px $gray-base;
